meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="icon", href="/images/logo.png")

title Uniclic - #{pageName}

link(rel="stylesheet", href=`/styles/${stylesheet}.css`)
link(rel="stylesheet", href="/styles/theme/theme.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

if(darkMode==false)
    link(rel="stylesheet", href="/styles/theme/colors.css")
else
    link(rel="stylesheet", href="/styles/theme/colors-dark.css")