hmtl
    head
        include common/head.pug
    body
        include common/header.pug

        #main
            h3 Prochain cours

            div.lesson.td
                div
                    .name TD - EC3
                    .time 9:30 - 12:30
                a.zoom(href="https://zoom.us")
                    i.material-icons videocam

            h3 Votre semaine

            #edt-grid
                #au1.td Au3
                #er1.td ER3
                #se1.cm SE3
                #po1.td POO
                #po2.td POO
                #fo1.na For
                #ma1.td Ma3
                #ma2.td Ma3
                #po3.tp POO
                #ma3.ds Ma3

                #mon.day L
                #tue.day M
                #wed.day M
                #thu.day J
                #fri.day V

            h3 Prochains DS

            ul#ds
                li 24/01 - Auto3
                li 08/02 - An3
                li 10/02 - EC3