doctype html
html
    head
        include ./common/head.pug
    body
        header
            h1 #{pageName}
            a(href="/settings")
                i.material-icons settings

        #main
            h3 Mes services

            #tabs
                a#mail(href="/mail")   Webmail
                a#edt(href="/edt")     EDT
                a#notes(href="/notes") Notes