html
    head
        title Uniclic - Connexion
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/styles/login.css")
    body
        #main
            img#logo(src="/images/logo.png")
            p.explain Connectez vous pour accéder à vos webservices.
            form(action="", method="post") 
                input(type="text", name="username", placeholder="Numéro Etudiant")
                input(type="password", name="password", placeholder="Mot de passe")
                input(type="submit", value="Connexion")