html
    head
        include ./common/head.pug
    body
        #main
            img#logo(src="/images/logo.png")
            p.explain Connectez vous pour accéder à vos webservices.
            form(action="", method="post") 
                input(type="text", name="username", placeholder="Numéro Etudiant")
                input(type="password", name="password", placeholder="Mot de passe")
                input(type="submit", value="Connection")