html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#logo {
    width: 120px;
    margin-bottom: 60px;
}

.explain {
    width: 80%;
    margin: 10px auto;
}

input {
    display: block;
}

a.button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    padding: 16px;
    margin: 20px auto 10px;

    background-color: var(--green);
    border: 2px solid var(--green);
    color: var(--text-black);

    border-radius: 4px;
}