.mail {
    display: block;
    text-decoration: none;

    padding: 10px;
    border-bottom: 2px solid var(--input-border);
    color: var(--email-read);
}

.mail.unread {
    color: var(--black);
    font-weight: bold;
}

.mail .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.mail .right-info > * {
    display: inline-block;
    vertical-align: middle;
}

.mail .right-info i {
    margin-right: 5px;
    font-size: 0.95em;
}

.mail .time, .mail .subject {
    font-size: 0.9em;
}