input {
    font-family: 'Ubuntu', sans-serif;

    padding: 16px;
    border: 2px solid var(--input-border);
    margin: 10px auto;
    border-radius: 4px;

    background-color: var(--theme-bg);
    color: var(--theme-text);
}

input:hover, input:active, input:focus {
    border-color: var(--input-border-focus);
}

input[type="submit"] {
    background-color: var(--green);
    border-color: var(--green);
    cursor: pointer;
    margin-top: 20px;

    color: var(--text-black);
}